<footer class="bg-black small text-center text-white-50">
	<%= link_to "", root_path, class: 'navbar-brand js-scroll-trigger' %>
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>